{% for category in categories %}
    {% if not category.hidden %}
        {% if category.hasVisibleChildren %}
            <li class="dropdown{% if category.current or category.expanded %} active{% endif %}">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="{{ url("ongr_category", {'document' : category}) }}" id="dropdown-{{ category.title }}">{{ category.title }} <span class="caret"></span> </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown-{{ category.title }}">
                    {{ renderCategoryTree(category.children) }}
                </ul>
            </li>
        {% else %}
            <li{% if category.current or category.expanded %} class="active"{% endif %}>
                <a href="{{ url("ongr_category", {'document' : category}) }}">{{ category.title }}</a>
            </li>
        {% endif %}
    {% endif %}
{% endfor %}